.wallet-box{
	height: 250px;
	border-radius: 6px;box-shadow: 0 1px 8px 0 rgba(0,0,0,0.1);
	background-color: #7259f9/*#00d09c*/;
	padding: 20px;
	position: relative;
	z-index: 1;
	position:relative;
	border:none
}

.wallet-line{
	border:2px solid #fff;
	width: 60px;
	border-radius: 30px;
	margin-top:30px
}

.wallet-img-bg{
	position:absolute;
	bottom:0px;
	right: -25px;
	width: 250px;
}

.wp110AtMainSection {
    margin: auto 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wp110AtiSection {
    margin: 0 16px 40px;
    padding: 0 0 40px;
}

.vspace-between {
    justify-content: space-between;
}
.valign-wrapper {
    display: flex;
    align-items: center;
}

.wp110AtiAmt, .wp110AtLabel {
    font-weight: 500;
    color: #fff;
}

.wp110AtiAmt {
    font-size: 40px;
}

.wp110AtLabel {
    font-size: 13px;
    line-height: 14px;
    letter-spacing: .6px;
}
.wp110AtiAmt, .wp110AtLabel {
    font-weight: 500;
    color: #fff;
}
.absolute-center, .valign-wrapper {
    display: flex;
    align-items: center;
}