body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    /* background-color: #29C56B; */
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    body {
        background-color: #FCFCFC;
    }
}

.tab-icon {
    color: #FCFCFC !important;
}

.react-modal-sheet-container {
    height: calc(100% - env(safe-area-inset-top) - 200px) !important;
}

.search-location-mobile input[type=search] {
    width: 100%;
    color: grey;
    outline: none;
    border: none;
    background-color: transparent;
}

.search-location-mobile input:focus {
    border: none !important;
    outline: none !important;
}

.wrapper {
    margin-top: 110px !important;
}


/* Ripple effect */

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

a:link,
a:active,
a:visited {
    font-size: 14px;
    color: #3a3a3a !important;
}

a.active {
    color: #29C56B !important;
}

ul.header-links {
    list-style-type: none;
    margin-bottom: unset !important;
    padding: 0px !important;
}

ul.header-links li {
    display: inline-block;
    text-transform: uppercase !important;
    color: #FFFFFF !important;
}

ul.header-links li a:link {
    /* color: #ffffffd9; */
    font-size: 14px;
    color: #3a3a3a;
}

ul.header-links li a:hover {
    /* color: #FFF; */
    color: #3a3a3ac7;
}

._1tcx6:after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -5px;
    width: 100%;
    background: #3d4152;
}

ul.footer-links {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.footer-links li a {
    color: #ffffffd4 !important;
    text-decoration: none;
}

ul.footer-links li {
    margin-bottom: 8px;
}

.fm77HeartImg {
    font-size: 32px;
    color: #eb5b3c;
    margin-right: 4px;
    position: relative;
    top: 5px;
}

.fixed-top {
    z-index: 100 !important;
}

.rodal-dialog {
    max-width: 95% !important;
    /* border: 1px solid rgba(0, 0, 0, .2); */
    border-radius: 20px!important;
    z-index: 1030 !important;
    padding: 0px 15px !important;
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;*/
    /* box-shadow: 0 2px 3px 0 rgba(60, 64, 67, .3), 0 6px 10px 4px rgba(60, 64, 67, .15) !important; */
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2) !important
}

.bg-map {
    background-image: url(http://quickwashapp.com/images/bg-map.png);
    background-size: cover;
    background-position: center;
}

.bg-dark.bg-map,
.bg-blue.bg-map,
.bg-darkblue.bg-map,
.bg-darkviolet.bg-map,
.bg-green.bg-map {
    background-image: url(http://quickwashapp.com/images/bg-white-map.png)
}

.bg-waves {
    background-image: url(http://quickwashapp.com/images/bg-waves.png)
}

.bg-lines {
    background-image: url(http://quickwashapp.com/images/bg-lines.png)
}

.bg-geometric {
    background-image: url(http://quickwashapp.com/images/bg-geometric.jpg)
}

.bg-graph {
    background-image: url(http://quickwashapp.com/images/bg-graph.jpg);
    background-position: bottom center
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

.terms-box {
    margin-bottom: 40px
}

.terms-box h5 {
    margin-bottom: 25px
}

.terms-box p span {
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 700;
    margin-right: 5px
}

.terms-box p a {
    color: #16a2e0;
    font-weight: 700;
    text-decoration: underline
}

.terms-box p a:hover {
    color: #444
}

ul.terms-list {
    list-style: disc;
    margin: 20px 0 20px 25px
}

ul.terms-list li {
    margin-bottom: 10px
}

ul.terms-list li:last-child {
    margin-bottom: 0
}

.bg-lightgrey {
    background-color: #f8f9fb;
}

.bg-fixed {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.review-2 {
    position: relative;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 35px;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 20px rgba(20, 20, 20, .15);
    -moz-box-shadow: 0 0 20px rgba(20, 20, 20, .15);
    box-shadow: 0 0 20px rgba(20, 20, 20, .15);
}

.section-title {
    margin-bottom: 100px;
    text-align: center;
}

.mb-50 {
    margin-bottom: 50px;
}

#reviews-2 img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: -40px;
    top: -40px;
    display: inline-block;
    margin: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

.review-2 p {
    color: #999;
    font-size: 1.0rem;
    line-height: 1.45;
    font-weight: 400;
    margin-bottom: 6px;
}

.review-2 a {
    color: #666;
    font-size: .975rem;
    line-height: 1;
}

.wide-100 {
    padding-top: 60px;
    padding-bottom: 40px;
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25rem solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em;
}

@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite;
}

.spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}

ul.account-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.account-menu li {
    padding: 5px 3px;
    margin: 8px 5px;
}

ul.account-menu a {
    text-decoration: none;
}

ul.account-menu a:hover {
    color: #29C56B !important;
}

.bottom-tab a {
    text-decoration: none;
}


/* Support Page */

.search-btn input {
    height: 52px;
    width: 380px;
    border-radius: 30px;
    outline: none;
    padding-left: 18px;
    padding-right: 120px;
    border: 1px solid white;
}

.search-btn input:hover {
    outline: none;
}

.search-btn input::placeholder {
    font-weight: 700;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
}

.support-card {
    cursor: pointer;
    box-shadow: none;
    border-radius: 10px;
    transform: scale(1);
    transition-property: transform, box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.support-card:hover {
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}


/* Contact Page */

.contact-section ul {
    list-style-type: none;
}

.contact-section li {
    margin-bottom: 18px;
    display: flex;
    align-items: start;
    align-self: flex-start;
    justify-content: start;
}

.contact-rotate p {
    margin-top: 160px;
    text-align: center;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    transform: rotate(270deg);
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.contact-side-bar {
    background-color: #29c56b;
    width: 500px;
    position: absolute;
    top: 200px;
    left: -400px;
    z-index: 1;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition-property: left, width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.item-card-class {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    padding: 13px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.item-card-class:hover {
    transform: scale(1.03);
}

.input-group-text {
    border: 1px solid #07c092 !important;
    background-color: #07c092;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
}

.rodal-div input[type=phone] {
    outline: none;
    border: 1px solid #07c092;
    padding-left: 10px;
    width: 84%;
    height: 42px;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 600;
}

.rodal-div input[type=text],
input[type=password] {
    outline: none;
    border: 1px solid #07c092;
    padding-left: 10px;
    width: 100%;
    height: 42px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 600;
}

.rodal-div input[type=phone]:focus {
    border: 1px solid #07c092;
}

.rodal-div button[type=submit] {
    margin-top: 10px;
    outline: none;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 1px;
    background-color: #07c092;
    width: 99%;
    height: 42px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

#rodal-register-page a {
    color: #007bff !important;
}

#search {
    width: 100%;
    height: 49px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.location-title {
    font-weight: 600 !important;
    font-family: 'Montserrat' !important;
    font-size: 16px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}

.location-subtitle {
    font-weight: 500 !important;
    font-family: 'Montserrat' !important;
    font-size: 14px !important;
    color: rgb(0 0 0 / 54%) !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}


/* #search {
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.2);
} */

._3E8aIl {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

.nUdcwy {
    padding: 12px;
    margin-bottom: 16px;
}

._3X2gOt {
    vertical-align: middle;
    width: 70px;
    height: 70px;
}

.DxGiT2 {
    padding: 5px 0 0 16px;
    width: calc(100% - 70px);
}

.DxGiT2 ._2QZ3Er {
    font-size: 12px;
}

.DxGiT2 ._1ruvv2 {
    padding-top: 3px;
    font-size: 17px;
    font-weight: 600;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* Mobile CSS */

#mobile-edit-profile-listtile li {
    list-style-type: none;
}

#mobile-location-search-list li {
    list-style-type: none;
}

#mobile-onboarding-owl .owl-theme .owl-dots .owl-dot span {
    width: 20px !important;
    height: 6px !important;
    background-color: #0080005c;
}

#mobile-onboarding-owl .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #29C56B;
}


/* Services Page */

.MuiTabs-indicator {
    background-color: #29C56B;
}

.MuiTab-textColorPrimary {
    font-family: 'Montserrat' !important;
    font-size: 1.4rem !important;
    color: rgb(62, 62, 62) !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: rgb(0 0 0 / 54%) !important;
}

.register-form .MuiFormControl-root {
    width: 100% !important;
    display: block !important;
    margin: 20px 0px !important;
}

.register-form .MuiInputBase-root {
    font-size: 1.6rem !important;
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
}

.register-form .MuiFormLabel-root .MuiInputLabel-formControl {
    font-size: 1.6rem !important;
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
}

.register-form .MuiFormLabel-root {
    font-size: 1.6rem !important;
    font-family: 'Montserrat';
    font-weight: 600 !important;
}

.register-form .MuiInput-colorSecondary.MuiInput-underline:after {
    border-bottom-color: #29C56B !important;
}

.register-form .MuiFormLabel-colorSecondary.Mui-focused {
    color: #29C56B !important;
}

.register-form .MuiTypography-body1 {
    font-size: 1.5rem !important;
    font-family: 'Montserrat' !important;
    font-weight: 500 !important;
    color: #2196F3 !important;
}

.register-form .MuiCheckbox-colorSecondary.Mui-checked {
    color: #29C56B !important;
}

.register-form .my-checkbox .MuiSvgIcon-root {
    width: 1.3em !important;
    height: 1.3em !important;
}

.register-form .MuiFormHelperText-root {
    font-size: 1.45rem !important;
    font-family: 'Montserrat';
    font-weight: 600 !important;
}

.auth-form .MuiFormControl-root {
    width: 100% !important;
    display: block !important;
    margin: 20px 0px !important;
}

.auth-form .MuiInputBase-root {
    font-size: 1.6rem !important;
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
}

.auth-form .MuiFormLabel-root .MuiInputLabel-formControl {
    font-size: 1.6rem !important;
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
}

.auth-form .MuiFormLabel-root {
    font-size: 1.6rem !important;
    font-family: 'Montserrat';
    font-weight: 600 !important;
}

.auth-form .MuiInput-underline:before {
    border-bottom: 2px solid #29C56B !important;
}

.auth-form .MuiInput-colorSecondary.MuiInput-underline:after {
    border-bottom-color: #29C56B !important;
}

.auth-form .MuiFormLabel-colorSecondary.Mui-focused {
    color: #29C56B !important;
}

.auth-form .MuiTypography-body1 {
    font-size: 1.6rem !important;
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
    color: currentColor;
}

.mobile-account-dialog .MuiTypography-h6 {
    font-size: 1.95rem !important;
    font-family: 'Montserrat' !important;
}

.mobile-account-dialog .MuiTypography-body1 {
    font-size: 1.5rem !important;
    font-family: 'Montserrat' !important;
}

.mobile-account-dialog .MuiButton-root {
    font-size: 1.375rem !important;
    font-family: 'Montserrat' !important;
}

.faqs-page-questions .MuiPaper-elevation1 {
    /* box-shadow: none; */
}